*{
    font-family: "Poppins", sans-serif;
}
.container{
    margin-bottom: 100px;
}
.orange{
    background-color: #fdeae9;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-item{
    padding: 20px 40px;
}
.price-info{
    color: #FF136F;
}
.btn{
    padding: 10px 20px;
    background-color: #FF136F;
    color: white;
    font-size: 18px;
    border: 1px solid #FF136F;
}
.btn:hover{
    border: 1px solid #FF136F;
    background-color: white;
    color: #FF136F;
}
.cat1,.cat2, .cat3{    
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.cat1{
    background-image: linear-gradient(to right, orange, yellow);
}
.cat2{
    background-image: linear-gradient(to right, crimson, pink);
}
.cat3{
    background-image: linear-gradient(to right, blue, lightblue);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}